#mapOptions {
  position: absolute;
  right: 15px;
  top: 15px;
  border: 1px solid #DCDCDC;
  color: black;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  background-color: #6495ED;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
#txdotMap {
  background-color: #DCDCDC;
  padding: 3px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#imagery {
  background-color: white;
  padding: 3px;
}
#divInput {
  background-color: white;
}

